@using MyProject.Entity.Enums
@model CreateProductViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ürün Güncelle</h4>
                    </div>
                    <form method="post" asp-area="Admin" asp-controller="Product" asp-action="Create">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Ürün Başlığı</label>
                                <input type="text" class="form-control" asp-for="Title" >
                            </div>
                            <div class="form-group">
                                <label>Ürün Açıklaması</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Categori</label>
                                <select class="form-control" asp-for="CategoryId">
                                    @foreach (var category in Model.CategoryDtos)
                                    {
                                        <option value="@category.Id"
                                                >
                                            @category.CategoryName
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Fiyat</label>
                                <input type="text" asp-for="Price" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label>Stok</label>
                                <input asp-for="Stock" type="text" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label>Renk</label>
                                <select asp-for="Renkler" class="form-control">
                                    @foreach (var e in Enum.GetValues(typeof(Renkler)).Cast<int>())
                                    {
                                     
                                        <option value="@e.ToString()">@Enum.GetName(typeof(Renkler), e)</option>
                                        
                                    }
                                </select>
                            </div>


                            <div class="form-group">
                                <label class="d-block">Beden Seçimi</label>

                                @foreach (Bedenler beden in Enum.GetValues(typeof(Bedenler)))
                                {
                                    var id = $"beden_{(int)beden}";
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="radio"
                                               asp-for="Bedenler"
                                               value="@beden"
                                               id="@id"
                                                />

                                        <label class="form-check-label" for="@id">
                                            @beden
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="form-group">
                                <label>Ürün Görselleri</label>
                                <input type="file" class="form-control" asp-for="ImageUrl">
                            </div>

                        </div>

                        <div class="card-footer text-right">
                            <button class="btn btn-primary mr-1" type="submit">Ekle</button>
                            <button class="btn btn-secondary" type="reset">İptal</button>
                        </div>
                    </form>
                </div>


            </div>


        </div>
    </div>
</section>


