@using MyProject.Entity.Enums
@model EditProductViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ürün Güncelle</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Ürün Başlığı</label>
                            <input type="text" class="form-control" value="@Model.Title">
                        </div>
                        <div class="form-group">
                            <label>Ürün Açıklaması</label>
                            <textarea class="form-control">@Model.Description</textarea>
                        </div>
                        <div class="form-group">
                            <label>Categori</label>
                            <select class="form-control">
                                @foreach (var category in Model.CategoryDtos)
                                {
                                    <option value="@category.Id"
                                            selected="@(category.Id == Model.CategoryId)">
                                        @category.CategoryName
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Fiyat</label>
                            <input type="text" class="form-control"  value="@Model.Price">
                        </div>
                        <div class="form-group">
                            <label>Stok</label>
                            <input type="text" class="form-control" value="@Model.Stock">
                        </div>
                        <div class="form-group">
                            <label>Renk</label>
                            <select asp-for="Renkler" asp-items="Html.GetEnumSelectList<Renkler>()" class="form-control">
                             </select>
                        </div>


                        <div class="form-group">
                            <label class="d-block">Beden Seçimi</label>

                            @foreach (Bedenler beden in Enum.GetValues(typeof(Bedenler)))
                            {
                                var id = $"beden_{(int)beden}";
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           asp-for="Bedenler"
                                           value="@beden"
                                           id="@id"
                                           checked="@(Model.Bedenler == beden)" />

                                    <label class="form-check-label" for="@id">
                                        @beden
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label>Ürün Görselleri</label>
                            <input type="file" class="form-control">
                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="submit">Güncelle</button>
                        <button class="btn btn-secondary" type="reset">İptal</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

