@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



	@if (!string.IsNullOrEmpty(Model.Message))
	{
		<div class="alert alert-success">
			<span>@Model.Message</span>
		</div>
	}
	else{
		<section class="ftco-section ftco-cart">
			<form method="post" asp-controller="ShoppingCart" asp-action="Index">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12 ftco-animate">
						<div class="cart-list">
							<table class="table">
								<thead class="thead-primary">
									<tr class="text-center">
										<th>&nbsp;</th>
										<th>&nbsp;</th>
										<th>Ürün</th>
										<th>Fiyat</th>
										<th>Miktar</th>
										<th>Toplam</th>
									</tr>
								</thead>
								
								<tbody>

										@foreach (var item in Model.BasketItems)
										{

										<tr class="text-center">


												<td class="product-remove"><a class="remove-item" href="#"><span class="ion-ios-close"></span></a></td>
												<td style="display:none;">
												
												<span asp-for="Id" class="basket-item-id">@item.Id</span>
												</td>
											<td class="image-prod"><div class="img" style="background-image:url(images/product-3.jpg);"></div></td>
											<td class="product-name">
												<h3 name="Title"> @item.Product.Title</h3>
													<p asp-for="Description"> @item.Product.Description</p>
											</td>

												<td asp-for="Price" class="price">$@item.Product.Price</td>

												<td class="quantity">
													<div class="input-group mb-3">
														<div class="input-group-prepend">
															<button type="button" class="quantity-left-minus btn btn-outline-secondary" data-type="minus" data-field="">
																<i class="ion-ios-remove"></i>
															</button>
														</div>
														<input type="text" name="Quantity" class="form-control input-number" value="@item.Quantity" min="1" max="100">
														<div class="input-group-append">
															<button type="button" class="quantity-right-plus btn btn-outline-secondary" data-type="plus" data-field="">
																<i class="ion-ios-add"></i>
															</button>
														<span id="basketId" style="display:none;"> @item.BasketId</span>
														</div>
													</div>
												</td>
										</tr>	
										}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
						<div class="cart-total mb-3">
							<h3>Cart Totals</h3>
							<p class="d-flex total-price">
								<span>Total</span>
								<span>$17.60</span>
							</p>
						</div>
						<p class="text-center"><button type="submit" class="btn btn-primary py-3 px-4">Sepeti Onayla</button></p>
					</div>
				</div>
			</div>
			</form>
		</section>


	}
	
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


	<script src="~/Themes/winkel-master/js/jquery.min.js"></script>
	<script src="~/Themes/winkel-master/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/Themes/winkel-master/js/popper.min.js"></script>
	<script src="~/Themes/winkel-master/js/bootstrap.min.js"></script>
	<script src="~/Themes/winkel-master/js/jquery.easing.1.3.js"></script>
	<script src="~/Themes/winkel-master/js/jquery.waypoints.min.js"></script>
	<script src="~/Themes/winkel-master/js/jquery.stellar.min.js"></script>
	<script src="~/Themes/winkel-master/js/owl.carousel.min.js"></script>
	<script src="~/Themes/winkel-master/js/jquery.magnific-popup.min.js"></script>
	<script src="~/Themes/winkel-master/js/aos.js"></script>
	<script src="~/Themes/winkel-master/js/jquery.animateNumber.min.js"></script>
	<script src="~/Themes/winkel-master/js/bootstrap-datepicker.js"></script>
	<script src="~/Themes/winkel-master/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="~/Themes/winkel-master/js/google-map.js"></script>
	<script src="~/Themes/winkel-master/js/main.js"></script>

	<script>
		$(document).ready(function () {

			$('.quantity-right-plus').click(function (e) {
			e.preventDefault();
			var $input = $(this).closest('.input-group').find('input');
			var quantity = parseInt($input.val());
			if (quantity < parseInt($input.attr('max'))) {
				$input.val(quantity + 1);
			}
		});

		$('.quantity-left-minus').click(function (e) {
			e.preventDefault();
			var $input = $(this).closest('.input-group').find('input');
			var quantity = parseInt($input.val());
			if (quantity > parseInt($input.attr('min'))) {
				$input.val(quantity - 1);
			}
		});

		var token = '@(Context.Session.GetString("token") ?? "")';

			$("table tbody").on("click", ".remove-item", function (e) {
				e.preventDefault();
				

				if (!token) {
					alert("Kullanıcı oturum bilgisi eksik.");
					return;
				}

				var $row = $(this).closest("tr");
				var basketItemId = $row.find(".basket-item-id").text().trim();

				if (!basketItemId) {
					alert("Sepet öğesi ID'si bulunamadı.");
					return;
				}

				if (!confirm("Bu ürünü silmek istediğinize emin misiniz?")) return;
				

				$.ajax({
					url: 'https://localhost:7177/api/v1/BasketItem/DeleteBasketItems/' + basketItemId,
					type: 'DELETE',
					beforeSend: function (xhr) {
						if (token) {
							xhr.setRequestHeader("Authorization", "Bearer " + token);
						}
					},
					success: function (response) {
					
						if (response.isSuccess) {
							$row.remove();
							alert(response.Message || "Ürün başarıyla silindi.");
						} else {
							alert(response.Message || "Silme işlemi başarısız.");
						}
					},
					error: function (xhr, status, error) {
						alert("Bir hata oluştu: " + error + "\nDetay: " + xhr.responseText);
					}
				});
			});

	$(".cart-wrap").on("click", ".btn-primary", function(e){
		e.preventDefault();

		if (!token) {
					alert("Kullanıcı oturum bilgisi eksik.");
					return;
				}

				var $basket-id= $("#basketId").text().trim();
				if(!basketId){
					alert("Sepet ID'si bulunamadı.");
					return;
				}

				var basketItems= [];

				$("table tbody tr").each(function(){
					var $row=$(this);
					var $id = $row.find(".basket-item-id").text().trim();
					var qtyVal = $row.find(".input-number").val();

					basketItems.push({ id: id, quantity: qtyVal });
					
				})
				let data = { items: basketItems };

				$.ajax({
					url: 'https://localhost:7177/api/v1/BasketItem/UpdateBasketItem',
					type: 'PUT',
					dataType: "json",
					data: JSON.stringify(data),
					contentType: "application/json",
					beforeSend: function (xhr) {
						if (token) {
							xhr.setRequestHeader("Authorization", "Bearer " + token);
						}
					},
					success: function (response) {

						if (response.isSuccess) {
							alert(response.Message || "Sepet onaylandı. Sipariş sayfasına yönlendiriliyorsunuz...");
							window.location.href = '/Order/Index';
						} else {
							alert(response.Message || "Sipariş oluşturma işlemi başarısız.");
						}
					},
					error: function (xhr, status, error) {
						alert("Bir hata oluştu: " + error + "\nDetay: " + xhr.responseText);
					}
				})

		}); 
	</script>




